body{
    font-family:roboto;
}

.header{
    background-color:#1f2937;
    display:flex;
    justify-content:space-between;
}

.logo{
    color:#F9FAF8;
    column-width: 48px;
    font-style:extra-bold;
}

.right-links{
    display:flex;
    justify-content: space-between;
}

ul{
    list-style:none;
}